<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="rcc-find.ZPM">
    <Module>
      <Name>rcc-find</Name>
      <Version>0.0.3</Version>
      <Description>Find String in CLS,MAC,INT,INC</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="rcc.PKG"/>
    </Module>
  </Document>
</Export>
